.App {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.App.internal::before {
  background: #1c1534f0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Video background */
.videoBg {
  bottom: 0;
  filter: blur(6px);
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -2;
}