/* Cards styles */
.cardsContainer {
  animation: appear .3s linear forwards; 
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: 1em;
}

.cardsContainer.formCards {
  grid-template-columns: 100%;
}

.cardsContainer.formCards a {
  pointer-events: none;
}

.notFound {
  color: #ffffff;
  font-size: 1.5rem;
}

@keyframes appear {
  0%	{ 
      opacity: 0;
      transform: translateY(10px); 
  }
  100% { 
      opacity: 1;
      transform: translateY(0);
  }
}