.formCreate {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  padding: 2em;
  width: 30rem;
}

.formCreate label {
  margin-top: 1.5em;
}

.formCreate input, .formCreate select {
  height: 2.5em;
}

.formCreate input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  margin-top: 3em;
  padding: 1em 1em 2em;
}

.formCreate .error {
  color: #F44336;
  font-size: 0.85rem;
  margin-top: 0.4em;
}
